    body {
      background-repeat: no-repeat;
      background-image: url('world-heritage-sites-india_1480054535m.jpg');
      background-size: cover;
      background-position:middle;
      color: blue;
      font-size: 50px;
    }
  