<html>
<head>
<title>
</title>
</head>
<style body{background-colour:rbg(0,255,253)}>
</style>

<body>
<h1>Festivals of India: A Celebration of Culture and Diversity</h1>
<table style=border-width:1px::border-style:solid;border-colour:black;border-collapse:collapse></table>
<tr><th style=border-colour:black>India is a land of vibrant colors, diverse cultures, and rich traditions. One of the most striking reflections of this diversity is seen in its festivals. With every region, religion, and community adding their own flavor to celebrations, Indian festivals are a remarkable showcase of unity in diversity.</th>
Religious Festivals
Religious festivals form the core of Indian celebrations. These events are rooted in ancient traditions and mythology and are observed with great devotion and grandeur.

Diwali: Known as the Festival of Lights, Diwali is one of the most widely celebrated Hindu festivals. It marks the return of Lord Rama to Ayodhya and symbolizes the victory of light over darkness. People decorate their homes with lamps and rangoli, burst firecrackers, and .......
<a href="cult.html">Read More</a><th style=border-colour:black>
<img src="festives.png" style=width:1000px;height:1000px>
</th>
</tr>
<a href="he.html">Home page</a>
</body>
</html>