{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>World Heritage Sites in India</title>
      <link rel="stylesheet" href="{% static 'indgate.css' %}">
</head>
<body>
 <h1>Red Fort</h1>

  <div>
    <img src="/static/red fort .jpeg" alt="TAJ MAHAL" width="300">
  </div>
The Red Fort, also known as Lal Qila, is another architectural masterpiece from the Mughal era. It is located in the heart of Delhi, the capital of India. Built by Shah Jahan in 1648, when he shifted the Mughal capital from Agra to Delhi, the Red Fort served as the main residence of the Mughal emperors for nearly 200 years.

The fort is made of red sandstone, which gives it its name. It is surrounded by massive walls that stretch over 2 kilometers. The design of the fort reflects a blend of Persian, Timurid, and Indian architectural styles. Inside the fort are several important buildings, including the Diwan-i-Aam (Hall of Public Audience), Diwan-i-Khas (Hall of Private Audience), Moti Masjid (Pearl Mosque), and royal gardens.

The Red Fort played a significant role in India's freedom struggle. After independence in 1947, the first Prime Minister of India, Pandit Jawaharlal Nehru, hoisted the Indian national flag from its ramparts. Since then, the Prime Minister addresses the nation from the Red Fort every year on August 15, marking Independence Day.

The fort is now a UNESCO World Heritage Site and a major tourist attraction that tells the story of India's rich and complex past.
<p><a href="http://127.0.0.1:8000/">HOME PAGE</a></p></a></p>
</body>
</html>
