<!DOCTYPE html>
<html>
<head>
  <title>World Heritage Sites in India</title>
  <style>
    body {
      background-color: rgb(0, 255, 157); 
    }
  </style>
</head>
<body>
  <h1>World Heritage Sites in India:Monuments</h1>

  <div>
    <p><a href="http://127.0.0.1:8000/tajmahal/"><img src="/static/taj mahal.jpeg" alt="Taj Mahal" width="300"></a></p>
  </div>

  <div>
    <p><a href="http://127.0.0.1:8000/indiagate/"> <img src="/static/india gate.jpeg" alt="India Gate" width="300"></a></p>
  </div>

	<div>
    <p><a href="http://127.0.0.1:8000/red fort/"><img src="/static/red fort .jpeg" alt="Red Fort" width="300"></a></p>
  </div>
<p><a href="http://127.0.0.1:8000/">HOME PAGE</a></p>
</body>
</html>
